body {
  background-color: rgba(208, 100, 91, 0.5);
}

.log-in-div {
  display: flex;
  flex-diriction: column;
  justify-content: space-evenly;
}

.log-in-div .log-in {
  width: 500px;
  heigth: 500px;
  background-color: yellow;
}
* {
    margin: 0px;
}
